/*-------- Laptop ---------*/

@media screen and (max-width : 1024px) {

    header .right-box {
        display: none;
    }

    header nav {
        width: 100%;
    }

    main .section-right {
        display: none
    }

    main .section-left {
        width: 100%;
    }

    article {
        grid-template-columns: 1fr;
    }

    .grid-squere {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-rect {
        grid-template-columns: 1fr;
    }

    .editor img {
        width: 600px;
    }

    .W3Spaces img {
        display: none;
    }

    .Web-Templates img {
        width: 600px;
    }
}

/*----------- Tablet -----------*/

@media screen and (max-width : 768px) {
    .editor img {
        width: 400px;
    }

    .Web-Templates img {
        width: 400px;
    }

    header {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1000;
    }

    header nav {
        justify-content: space-between;
    }

    .hamberger {
        display: block;
    }

    .rotate {
        transform: rotate(360deg);
        transition: all 500ms ease;
    }

    header nav .menu {
        flex-direction: column;
        text-align: center;
        width: 100%;
        margin: 0;
        position: fixed;
        left: -100%;
        top: 70px;
        z-index: 100;
        background-color: #fff;
        transition: all .5s ease;
    }

    header nav .hide {
        left: 0;
    }

    header nav .menu li a {
        display: block;
        padding: 20px;
    }

    header nav .menu li {
        width: 100%;
        text-align: center;
    }
}

/*----------- Mobile -------------*/

@media screen and (max-width : 530px) {

    main .section-left h1,
    .editor h1 {
        font-size: 60px;
    }

    main .section-left p {
        font-size: 16px;
    }

    .grid-squere {
        grid-template-columns: 1fr;
        padding: 0 20px;
    }

    .squre {
        width: 100%;
    }

    .rect {
        width: 100%;
    }

    article .box,
    .rect {
        width: 300px;
    }

    .editor img {
        width: 300px;
    }

    .editor h1,
    .W3Spaces h1,
    .Color-Picker h1,
    .Code-Game h1,
    .Web-Templates h1 {
        font-size: 40px;
    }

    .editor p,
    .W3Spaces p,
    .Color-Picker p,
    .Code-Game p,
    .Web-Templates p {
        font-size: 16px;
    }

    .Web-Templates img {
        width: 300px;
    }

    .btn-Templates,
    .btn-shop {
        width: 250px;
    }
}